@import "common.less";

@navi-width:160px;

#navi {
    .docked-left;
    width:@navi-width;
    background-color:#3B3E3E;

    > div {
        .docked-left;
        right:4px;
        overflow-x:visible;
        background-color:#4A4D4E;
    }

    .menu {
        color:#F0F1F1;
        width:@navi-width;
    }

    .menu.curr {
        background-color:white;
        color:#181919;
        text-shadow: 1px 1px 0px #d9d9d9;
    }

    a {
        color:inherit;
        text-decoration:none;
        font-size:1.6em;
        display:block;
        padding:14px 0;
        text-align:center;
        padding-right:4px;

        //border-left: 8px solid #4A4D4E;
    }
}

#panel {
    .docked-right;
    left:@navi-width;
    background-color:white;
    overflow:hidden;

    .tilecontainer {
        @tile-spacing:12px;
    
        .docked-center();
        overflow-y:auto;
        padding-left:@tile-spacing;

        .tile {
            float:left;
            position:relative;
            width:100px + @tile-spacing * 2;
            height:100px + @tile-spacing * 2;

            > div {
                .docked-center(@tile-spacing);
                cursor:pointer;
                background:transparent url('../img/chopsticks_bowl.png') no-repeat center center;
            }

            .text {
                .docked-bottom;
                background-color:rgba(0,0,0,0.4);
                color:white;
                text-align:center;
                font-size:1.3em;
                line-height:1em;
                padding:4px;
                overflow-x:hidden;
                text-overflow:ellipsis;
            }
        }
    }
    
    .tilecontainer.min {
        overflow:hidden;
    }
}


#edit {
    .transform(1,0,100%,0,0,0);
    .transition(400ms);
    
    .docked-right(6px);
    right:0;
    width:0;
    box-shadow:0 0px 8px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow:0 0px 8px 0px rgba(0, 0, 0, 0.4);
    background-color:white;
    border-radius:10px 0 0 10px;


    .form-group.imgview {
        .img,
        .imgcreator {
            width:80px;
            height:80px;
            background:transparent no-repeat center center;
            background-size : contain;
            float:left;
        }
    }
}


.form-group {
    label,.dropdown-link {
        font-size:1.4em;
    }

    textarea {
        resize:none;
    }
}


.image-dropper {

    position:relative;
    @DefaultColor:#CCC;
    color:@DefaultColor;
    line-height:80px;
    text-align:center;
    font-size:2.5em;

    >.glyphicon {
        display:inline;
    }

    >div {
        .docked-center();
        border:4px dashed @DefaultColor;
        border-radius:10px;
        overflow:hidden;
        background-color:transparent;

        .ab {
            .docked-bottom();
            bottom:2px;
            height:27px;
            line-height:27px;

            .transform(1,0,0,32px,0,0);
            .transition(400ms);
        }

        .glyphicon {
            cursor:pointer;
        }

        @okColor:#5CB85C;
        .glyphicon-ok {
            color:@okColor;
        }
    
        .glyphicon-ok:hover {
            color: darken(@okColor,10%);
        }
    
        @cancelColor:#D9534F;
        .glyphicon-remove {
            color:@cancelColor;
        }
        .glyphicon-remove:hover {
            color: darken(@cancelColor,10%);
        }
    }
}

.image-dropper.dragover {
    @OverColor:#777;
    color:@OverColor;

    >div {
        border-color:@OverColor;
    }
}

.image-dropper.dropped {
    >.glyphicon {
        display:none;
    }

    >div {
        background-color:rgba(255,255,255,0.7);

        .ab {
            .transform0();
        }
    }
}