
@font-family:helvetica,arial,sans-serif;
html,body {
    padding:0;
    margin:0;
    font: normal normal 10px @font-family;
    font-stretch:normal;
    font-variant:normal;

    width:100%;
    height:100%;
    overflow:hidden;
    
    //background-color:#4A4D4E;
}

.transform(@scale:1;@rotate:0;@tx:0;@ty:0;@sx:0;@sy:0) {
    -moz-transform:    scale(@scale) rotate(@rotate) translateX(@tx) translateY(@ty) skewX(@sx) skewY(@sy);
    -webkit-transform: scale(@scale) rotate(@rotate) translateX(@tx) translateY(@ty) skewX(@sx) skewY(@sy);
    -o-transform:      scale(@scale) rotate(@rotate) translateX(@tx) translateY(@ty) skewX(@sx) skewY(@sy);
    -ms-transform:     scale(@scale) rotate(@rotate) translateX(@tx) translateY(@ty) skewX(@sx) skewY(@sy);
    transform:         scale(@scale) rotate(@rotate) translateX(@tx) translateY(@ty) skewX(@sx) skewY(@sy);
}

.transform0 {
    .transform() !important;
}

.docked-center(@padding:0px) {
    position:absolute;
    top:@padding;
    left:@padding;
    right:@padding;
    bottom:@padding;
}

.docked-bottom(@padding:0px) {
    .docked-center(@padding);
    top:auto;
}

.docked-left(@padding:0px) {
    .docked-center(@padding);
    right:auto;
}

.docked-right(@padding:0px) {
    .docked-center(@padding);
    left:auto;
}


.clearboth:after {
    content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
    font-size:0;
}

.user-select-none() {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

#page {
    .docked-center;
    .transition(200ms);
}


@import "animation.less";
@loadmaskZIndex:10000;
.loadmask {
    .docked-center;
    z-index: @loadmaskZIndex;
    background-color:rgba(0, 0, 0, 0.3);

    > div {
        @maskWidth:130px;
        @maskHeight:140px;
        @iconHeight:110px;

        position:absolute;
        top:50%;
        left:50%;

        > div {
            color:white;
            border-radius:8px;
            background-color:rgba(0, 0, 0, 0.3);
            width:@maskWidth;
            height:@maskHeight;
            position:relative;
            top: -@maskHeight / 2;
            left: -@maskWidth / 2;
        }

        .icon {
            text-align:center;
            height:@iconHeight;

            span.glyphicon {
                font-size:5em;
                position:relative;
                top:40px;
            }
            
            span.glyphicon:before {
                position:relative;
                top:1px;
            }

            span.glyphicon.glyphicon-refresh {
                animation: rotate360 1s infinite linear;
                -webkit-animation: rotate360 1s infinite linear;
            }
        }

        .text {
            font-size:1.4em;
            text-shadow: 0px -1px 0px #000000;
            text-align:center;
            height:@maskHeight - @iconHeight;
            //line-height:@height;
        }
    }
}

@-moz-document url-prefix() {
    .loadmask > div .icon span.glyphicon:before {
        top:0;
    }
}

.above-loadmask {
    z-index:@loadmaskZIndex + 1;
}
