#dishes .tile > div:before {
    background:transparent url('../img/food.png') no-repeat center center;
}

#dishes .tile > div[data-idx=NaN]:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#dishes .tile > div[data-idx=NaN]:before {
    background-image:none;
    content: "\2b";
    font-size:5em;
    text-align:center;
    line-height:108px;
    font-family: 'Glyphicons Halflings';
    opacity:0.5;
    border:6px dashed #CCC;
    border-radius:20px;
}

ul.dropdown-menu.align-right li a {
    text-align:right;
}

#txt-type,
#txt-unit {
    display:inline-block;
    width:30px;
    text-align:right;
}

.input-group-btn button {
    padding-right:8px;
}

.btn-group button {
    min-width:100px;
}

#edit .form-group:last-child {
    margin-top:10px;
    margin-left:12px;
}