@import "common.less";

#panel {

    @banner-height:50px;
    @actionbar-height:160px;
    @actionbar-count:2;
    @actionitem-width:200px;

    > div {
        position:absolute !important;
        top:50%;
        left:0;right:0;
        
        > div {
            position:relative;
            top:-(@banner-height * 2 + @actionbar-count * @actionbar-height) / 2;
        }
    }

    .head, .foot {
        height:@banner-height;
        font-size:2.4em;
        padding:0 20px;

        > span {
            line-height:@banner-height;
        }
    }

    .actionbar {
        height:@actionbar-height;
        padding:0 10px;

        a {
            display:block;
            width:25%;
            height:100%;
            float:left;
            position:relative;
            text-align:center;
            font-size:1.6em;
            letter-spacing:1px;
            font-weight:bold;
            color:#555;
            text-shadow: 1px 1px 0px #CCC;
            line-height:@actionbar-height / 10 * 16;
            text-decoration:none;
            opacity:0.7;
        }

        a:before {
            content:'';
            .docked-center(10px);
            border:4px solid #999;
            border-radius:12px;
            background:transparent none no-repeat center (@actionbar-height / 2 - 54px);
        }

        a[href]:hover {
            opacity:1;
        }
        
        a[href]:hover:before {
            -webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        }
    }
    

    #action-sm:before {
        background-image:url(../img/store_m.png);
    }
    #action-dm:before {
        background-image:url(../img/dish_m.png);
    }
    #action-md:before {
        background-position: center (@actionbar-height / 2 - 64px);
        background-image:url(../img/menu_m.png);
    }
}
