@import "common.less";

#panel #stores {

    .tile {
        height:auto;
        width: auto;
        padding:6px;
        font-size:1.4em;

        > div {
            position:static;
            padding:12px;
        }
    }
}